.centered-content {
    flex-direction: row;
    justify-content: center;
}

.background-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-text {
    color: red;
}

.success-text {
    color: #28ad89;
}

.table-container {
    margin: 2%;
}

.nav-links a{
    color: #137769;
}

.nav-links a:hover{
    color: #137769;
    border-color: #137769;
    border-bottom: 2px solid;
}

.nav-links a:hover{
    color: #137769;
    font-size: large;
    border-color: #137769;
    border-bottom: 2px solid;
}